.reveal{
	font-size:24px;
	color:#555555;
	margin: 0; /* 기본 마진 제거 */
    height: 100vh; /* 뷰포트 높이의 100% 사용 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 top 정렬 */
    align-items: center; /* 수직 top 정렬 */
}
.reveal h1{
	color:#555555;
	text-transform: none !important;
}
.reveal h2{
	color:#555555;
	align-self: start;
	text-transform: none !important;

}
.reveal h3{
	color:#555555;
	align-self: start;
	text-transform: none !important;

}
.reveal h4{
	color:#555555;
	align-self: start;
	text-transform: none !important;
}
.reveal h5{
	color:#555555;
	align-self: start;
	text-transform: none !important;
}
.reveal h6{
	color:#555555;
	align-self: start;
	text-transform: none !important;
}
.reveal ul{
	align-self: start;
	margin-bottom: 10px;
}
.reveal ol{
	align-self: start;
	margin-bottom: 10px;
}


.reveal ul li{
	margin-bottom: 5px;
}
.reveal ol li{
	margin-bottom: 5px;
}

.reveal p{
	align-self: start;
	text-align: left;
	margin-bottom: 30px;
	margin-top: -5px;
}

.src{
	align-self: center !important;
	text-align: center !important;
	max-width: 960px;
	color:gray;
	font-size:20px;
	width: 100%;
}

.sml{
	color:#555555;
	font-size:20px;
	width: 100%;
}
.vsml{
	color:#555555;
	font-size:17px;
	width: 100%;
}

.full{
	
	max-width: 85%;
	align-self: start;
	.reveal ul li{
		align-self: start;
	}
	.reveal ol li{
		align-self: start;
	}
}

/* 두 번째 레벨의 번호 없는 리스트 마커 변경 */
.reveal ul ul {
list-style-type: none; /* 기본 마커를 제거 */
margin-left: -20px;
}
.reveal ul ul li{
padding-left: 20px; /* 전체 아이템에 대한 왼쪽 패딩 설정 */
text-indent: -20px; /* 첫 줄의 내어쓰기 조정 */
}

.reveal ul ul li::before {
content: "▫"; /* 새로운 마커 설정 */
color: #555; /* 마커 색상 설정, 필요에 따라 변경 가능 */
position: relative;
left: -20px; /* 마커의 위치를 왼쪽으로 조정 */
}

.reveal ul ul ul{
	list-style-type: none;
	list-style-type: none;
}
.reveal ul ul ul li::before {
	content:"-";
}

.nmk ul {

list-style-type: none; /* 기본 마커를 제거 */
margin-left: -20px;

}

.nmk ul li{

padding-left: 20px; /* 전체 아이템에 대한 왼쪽 패딩 설정 */
text-indent: -20px; /* 첫 줄의 내어쓰기 조정 */

}

.nmk ul li::before {

content: ""; /* 새로운 마커 설정 */
color: #555; /* 마커 색상 설정, 필요에 따라 변경 가능 */
position: relative;
left: -20px; /* 마커의 위치를 왼쪽으로 조정 */

}

.nmk ul ul {

list-style-type: none; /* 기본 마커를 제거 */
margin-left: -20px;
}

.nmk ul ul li{

padding-left: 20px; /* 전체 아이템에 대한 왼쪽 패딩 설정 */
text-indent: -20px; /* 첫 줄의 내어쓰기 조정 */

}

.nmk ul ul li::before {

content: ""; /* 새로운 마커 설정 */
color: #555; /* 마커 색상 설정, 필요에 따라 변경 가능 */
position: relative;
left: -20px; /* 마커의 위치를 왼쪽으로 조정 */

}

.nmk ul ul ul{

list-style-type: none; /* 기본 마커를 제거 */
margin-left: -20px;

}

.nmk ul ul ul li{

padding-left: 20px; /* 전체 아이템에 대한 왼쪽 패딩 설정 */
text-indent: -20px; /* 첫 줄의 내어쓰기 조정 */

}

.nmk ul ul ul li::before {

content: ""; /* 새로운 마커 설정 */
color: #555; /* 마커 색상 설정, 필요에 따라 변경 가능 */
position: relative;
left: -20px; /* 마커의 위치를 왼쪽으로 조정 */

}

.pdbtm {
	padding-bottom: 20px;
}

.mgbtm {
	margin-bottom: 20px;
}